@page
@model WebApplication1.Pages.AboutUsModel
@{
    Layout = "_Layout";
}

<h1 style="color: dodgerblue">EzSneakers - Кроссовки и Одежда</h1>
<br>
<p><font size="3">EzSneakers – это молодой российский проект, мультибрендовая сеть, в которой вы найдете одежду и обувь большого количества брендов для повседневной жизни. Наша миссия - создать единую площадку в онлайн и офлайн торговле для быстрой, комфортной покупки одежды и обуви на каждый день. В нашем магазине представлены только сертифицированные товары известных по всему миру брендов, таких как: Levi’s, Nike, Wrangler, Adidas, Lacoste и многие другие.</p>
<p>Всё началось с кроссовок Adidas, они стали базой ассортимента. Теперь кроссовки – это главный продукт, который вы можете найти у нас. Помимо кроссовок мы предлагаем вам пространство, где мы собираем самую важную и нужную информацию для культуры кроссовок – тренды, истории брендов, информацию по уходу и многое многое другое.</p>
<p>Почему именно кроссовки наша страсть? Ответ прост, кроссовки выросли из формата обуви для рабочих и добрались до дизайнерских подиумов. Они сохранили свои качества несмотря ни на что, они всё такие же удобные, прочные и модные, даже спустя сотни лет. Уверены, у каждого из вас была хотя бы одна пара кроссовок, а если не было – мы вам обязательно поможем в выборе.</p>
<p>Чем мы можем порадовать вас помимо кроссовок? Мы дополнили широкий ассортимент кроссовок разной одеждой и аксессуарами, чтобы можно было собрать стильный образ. В нынешних условиях мы активно ищем новые альтернативные бренды и предлагаем их вам, всё так же ручаясь за высокое качество продукции.</p>
<p>Все товары, представленные у нас, являются оригинальными, вы можете ознакомиться с сертификатами соответствия в розничных магазинах. Так же вы всегда можете связаться с нами по почте info@EzSneakers.ru мы ответим вам на все вопросы. Проект EzSneakers – это возможность найти свою пару кроссовок. Ждём вас!</font></p>
<br>
<img src="/img/MarketFoto.jpg" alt="Наш Магазин">
<br>
<h1>Где нас найти?</h1>
<br>
<img src="/img/TruePath.jpg" width="780" height="500" alt="Наш Адрес">
<br>
<h1>Наши приоритеты</h1>
<br>
<p><font size="3">Наша главная цель – сделать одежду, обувь и аксессуары для повседневной жизни доступнее для жителей нашей страны. Нам важно, чтобы продукт, который они получили, был оригинальным, выбор товара и доставка были удобными для наших покупателей, а оплатить заказ можно было любым удобным для Вас способом. Вы можете помочь стать нам лучше, задав свой вопрос на нашу почту info@EzSneakers.ru Мы обязательно ответим и поможем Вам!</font></p>

